<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            
            <div class="d-flex justify-content-center py-4">
              <img src="assets/img/logo.png" alt="" class="d-lg logo-animation" width="200px">
            </div><!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Sign In to Your Account</h5>
                  <p class="text-center small">Enter your credentials to access your workspace</p>
                </div>

                <form class="row g-3 needs-validation" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <!-- Error message -->
                  <div class="alert alert-danger" *ngIf="errorMessage">
                    {{ errorMessage }}
                  </div>

                  <!-- Username input -->
                  <div class="col-12">
                    <label for="username" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        id="username"
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{'is-invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)}"
                        required
                      />
                      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="invalid-feedback">
                        Please enter a valid username.
                      </div>
                    </div>
                  </div>

                  <!-- Password input -->
                  <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      id="password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)}"
                      required
                    />
                    <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="invalid-feedback">
                      Please enter your password.
                    </div>
                  </div>

                  <!-- Remember me -->
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" [disabled]="loading">
                      {{ loading ? 'Logging in...' : 'Login' }}
                    </button>
                  </div>

                  <!-- Links to Register and Forgot Password -->
                  <div class="col-12">
                    <p class="small mb-0">Forgot your password? <a href="javascript:void(0);" (click)="goToForgotPWD()">Reset password</a></p>
                  </div>

                </form>
              </div>
            </div>

            <div class="credits">
              Designed by <a href="https://bootstrapmade.com/">HumanIQ</a>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
