<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
  </div>

  <section class="section profile">
    <div class="row">
      <!-- Colonne de gauche : Carte de profil -->
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              
   <div *ngIf="!ProfilImageUrl || ProfilImageUrl.includes('anonyme'); else profileImage">
  <div class="avatar-circle" [style.background-color]="getAvatarColor()">
    {{ getAvatarInfo().initial }}
  </div>
</div>
            
            <ng-template #profileImage>
              <img [src]="ProfilImageUrl" alt="Profile" class="rounded-circle profile-image">
            </ng-template>
             
            <h2>{{ user.fullname }}</h2>
            <h3>{{ user.position }}</h3>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Onglets -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="copyobj()" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>
            </ul>

            <div class="tab-content pt-2">
              <div class="tab-pane fade show active" id="profile-overview">
                <h5 class="card-title">Profile Details</h5>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ user.fullname }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Position</div>
                  <div class="col-lg-9 col-md-8">{{ user.position }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{ user.address }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ user.telNumber }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ user.username}}</div>
                </div>
              </div>

          <!-- Onglet "Edit Profile" -->
<div class="tab-pane fade" id="profile-edit">
  <form (ngSubmit)="saveProfile()">
    <div class="row mb-3">
      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
      <div class="col-md-8 col-lg-9">
       
        <div class="pt-2">
          <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
          <label for="fileInput" class="btn btn-primary btn-sm" title="Upload new profile image">
            <i class="bi bi-upload"></i> Upload
          </label>
         
          <a  class="btn btn-danger btn-sm" title="Remove my profile image" (click)="onDeleteProfileImage()">
            <i class="bi bi-trash"></i>
          </a>
         
        
        </div>
      </div>
    </div>

    <!-- Autres champs du formulaire -->
    <div class="row mb-3">
      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
      <div class="col-md-8 col-lg-9">
        <input name="fullName" type="text" class="form-control" id="fullName" [(ngModel)]="edituser.fullname">
      </div>
    </div>

    <div class="row mb-3">
      <label for="position" class="col-md-4 col-lg-3 col-form-label">Position</label>
      <div class="col-md-8 col-lg-9">
        <input name="position" type="text" class="form-control" id="position" [(ngModel)]="edituser.position">
      </div>
    </div>

    <div class="row mb-3">
      <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
      <div class="col-md-8 col-lg-9">
        <input name="address" type="text" class="form-control" id="address" [(ngModel)]="edituser.address">
      </div>
    </div>

    <div class="row mb-3">
      <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
      <div class="col-md-8 col-lg-9">
        <input name="phone" type="text" class="form-control" id="phone" [(ngModel)]="edituser.telNumber">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="saveProfile()">Save Changes</button>
    </div>
  </form>
</div>

              <!-- Onglet "Change Password" -->
              <!-- Formulaire de changement de mot de passe -->
<div class="tab-pane fade" id="profile-change-password">
  <form (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
      <div class="col-md-8 col-lg-9 position-relative">
        <input name="currentPassword" [type]="currentPasswordVisible ? 'text' : 'password'" class="form-control" id="currentPassword" [(ngModel)]="changePasswordRequest.oldPassword" required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
      <div class="col-md-8 col-lg-9 position-relative">
        <input name="newPassword" [type]="newPasswordVisible ? 'text' : 'password'" class="form-control" id="newPassword" [(ngModel)]="changePasswordRequest.newPassword" required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
      <div class="col-md-8 col-lg-9 position-relative">
        <input name="renewPassword" [type]="renewPasswordVisible ? 'text' : 'password'" class="form-control" id="renewPassword" [(ngModel)]="confirmNewPassword" required>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </form>
</div>


            </div>
          </div>
        </div>
      </div>
    </div>
 
  </section>
</main>



<!-- Bouton de retour en haut -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>