<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between align-items-center">
    <h1>Attendance Management</h1>
  
  </div>
     <div class="form-group mb-3">
             <select id="head" class="form-control" (change)="Onselected($event)" required>
              <option *ngFor="let user of users" [value]="user.username">{{ user.fullname }}</option>
             </select>
      </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
      <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <full-calendar [options]="calendarOptions"></full-calendar>

      </div>
      </div>
      </div>
      </div>
      </div>
    
  </section>
</main>